<div class="contactanos-base">

<div class="body-home" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <img class="body-img" src="assets/img/img-2.jpg" alt="logo">
  <div class="body-text">
    <h2 class="contactanos-titulos">CONTACTANOS</h2>
    <div class="contactanos-info">
      <p class="contactanos-subtitulos">Ubicación</p>
      <p><a class="contactanos-ubicacion" href="https://goo.gl/maps/i7qaY3dGydNvLoEb7">La Montaña la Cuesta Alta 94748 Camerino Z. Mendoza, Veracurz, México</a></p>

      <p class="contactanos-subtitulos">Teléfono</p>
      <p>(272) 229 4970</p>

      <p class="contactanos-subtitulos">Correo eléctronico</p>
      <p>lamontlacuesta@hotmail.com</p>

      <p class="contactanos-subtitulos">Redes Sociales</p>
      <img class="body-img" src="assets/img/img-34.png" alt="logo" style="width: 30px; height: 30px">
      <a class="redesociales-links" href="https://www.facebook.com/La-Monta%C3%B1a-La-Cuesta-Alta-105517891821801" style="margin-left: 15px" target="_blank">La Montaña la Cuesta Alta</a>

      <img class="body-img" src="assets/img/img-35.png" alt="logo" style="width: 40px; height: 40px; margin-left: 50px">
      <a class="redesociales-links" href="https://www.instagram.com/lamontlacuesta/?fbclid=IwAR0Vc2inpP8BytyAwkCkKd99dc8iv2kxF1k6-4oXVvChgfP6wX6cCAw-Kb4" style="margin-left: 15px" target="_blank">La Montaña la Cuesta Alta </a>
    </div>
  </div>
</div>
<footer-component></footer-component>
</div>
