<div class="contactanos-contenedor">
  <h1 class="contactanos-titulo">CONTACTANOS</h1>
  <div class="contactanos-contenedor">
    <img class="logo" src="assets/img/img-2.jpg" alt="logo">
    <div class="contactanos-body">
      <div class="contactanos-item">
        <h3 class="contactanos-item-titulo"><span class="number">1) </span> Ubicación</h3>
        <a class="contactanos-link" href="https://goo.gl/maps/i7qaY3dGydNvLoEb7"><i class="fas fa-map-marker-alt"></i> La Montaña la Cuesta Alta 94748 Camerino Z. Mendoza, Veracurz, México</a>
      </div>
      <div class="contactanos-item">
        <h3 class="contactanos-item-titulo"><span class="number">2) </span> Teléfono</h3>
        <p><i class="fas fa-phone"></i> (272) 229 4970</p>
      </div>
      <div class="contactanos-item">
        <h3 class="contactanos-item-titulo"><span class="number">3) </span> Correo eléctronico</h3>
        <p><i class="fas fa-envelope"></i> lamontlacuesta@hotmail.com</p>
      </div>
      <h2 class="contactanos-subtitulo">Redes Sociales</h2>
      <div class="contactanos-item">
        <h3 class="contactanos-item-titulo"><span class="number">4) </span> Facebook</h3>
        <a class="contactanos-link" href="https://www.facebook.com/La-Monta%C3%B1a-La-Cuesta-Alta-105517891821801"><i class="fab fa-facebook icono"></i> La Montaña la Cuesta Alta </a>
      </div>
      <div class="contactanos-item">
        <h3 class="contactanos-item-titulo"><span class="number">5) </span> Instagram</h3>
        <a class="contactanos-link" href="https://www.instagram.com/lamontlacuesta/?fbclid=IwAR0Vc2inpP8BytyAwkCkKd99dc8iv2kxF1k6-4oXVvChgfP6wX6cCAw-Kb4"><i class="fab fa-instagram-square icono"></i> La Montaña la Cuesta Alta </a>
      </div>
    </div>
  </div>
</div>
<footer-component></footer-component>
