<div class="footer-contenedor">
  <h3 class="titulo-footer">Servicio al cliente</h3>
  <footer class="base-footer">
    <ul class="nav">
      <li class="nav-item"><a routerLink="/quienes-somos" class="nav-link">¿Quiénes somos?</a></li>
      <li class="nav-item"><a routerLink="/aviso-privacidad" class="nav-link">Términos y condiciones</a></li>
      <li class="nav-item"><a routerLink="/cuentanos-tu-experiencia" class="nav-link">Cuéntanos tu experiencia </a></li>
      <li class="nav-item"><a routerLink="/contactanos" class="nav-link">Contactanos</a></li>
    </ul>
  </footer>
</div>

