<div class="slider">
  <ul class="slider-list">
    <li class="slider-item"><img class="slider-img" src="assets/img/img-21.jpg" alt="logo"></li>
    <li class="slider-item"><img class="slider-img" src="assets/img/img-18.jpg" alt="logo"></li>
    <li class="slider-item"><img class="slider-img" src="assets/img/img-32.jpg" alt="logo"></li>
    <li class="slider-item"><img class="slider-img" src="assets/img/img-22.jpg" alt="logo"></li>
    <li class="slider-item"><img class="slider-img" src="assets/img/img-23.jpg" alt="logo"></li>
    <li class="slider-item"><img class="slider-img" src="assets/img/img-31.jpg" alt="logo"></li>
  </ul>
</div>
<div class="body-home">
  <img class="body-img" src="assets/img/img-2.jpg" alt="logo">
  <div class="body-text">
    <h2 class="body-title">Bienvenidos a la Montaña</h2>
    <p>Lugar representativo de Ciudad Mendoza,Veracruz</p>
    <div class="body-text2">
      <p>Si vienes de vacaciones a conocer la región o te encuentras cerca de aqui, no olvides visitarnos en la Montaña un lugar lleno de antojitos.</p>
      <p>Todos los sábados y domingos a partir de las 08:00 horas.</p>
    </div>
  </div>
</div>
<footer-component></footer-component>
