/*Slider stilos*/
.slider {
  width: 100%;
  height: 750px;
  overflow: hidden;
}

.slider .slider-list {
  display: flex;
  animation: cambio 14s infinite
  alternate linear;
  width: 600%;
}

.slider .slider-item {
  width: 100%;
  list-style: none;
}

.slider .slider-img {
  object-fit: cover;
  width: 100%;
  height: 75%;
}

@keyframes cambio {
  0%{margin-left: 0;}
  9%{margin-left: 0;}

  18%{margin-left: -100%;}
  27%{margin-left: -100%;}

  36%{margin-left: -200%;}
  45%{margin-left: -200%;}

  54%{margin-left: -300%;}
  63%{margin-left: -300%;}

  72%{margin-left: -400%;}
  81%{margin-left: -400%;}

  90%{margin-left: -500%;}
  100%{margin-left: -500%;}
}

/*body home stilos*/
.body-home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.body-home .body-img {
  width: 20%;
}

.body-text {
  margin-bottom: 20px;
  padding: 10px;
}

.body-text .body-title {
  margin-bottom: 20px;
  color:  #000000;
  text-align: end;
  padding: 10px;
}

.body-text p{
  text-align: end;
  font-weight: 400;
  font-size: 1rem;
}

.body-text2 p{
  font-weight: 400;
  font-size: 1rem;
}

@media all and (max-width: 575px){
  .slider{
    width: 100%;
    height: auto;
  }
  .body-home{
    width: 100%;
    height: auto;
  }
  .contenedor-home{
    margin-top: 50%;
  }
  .body-home .body-title{
    text-align: center;
  }
  .body-home .body-text2 p{
    text-align: center;
  }
  .body-home p{
    text-align: center;
  }
  .body-home .body-img {
    width: 40%;
  }
}
