<div class="quienes-base">

<div class="quienes-somos-contenedor">
  <img class="logo" src="./assets/img/img-2.jpg" alt="logo">
  <div class="quienes-somos-info">
    <h1 class="quienes-somos-titulos">¿QUIÉNES SOMOS?</h1>
    <p><span>Lugar representativo de la Ciudad Mendoza, Veracruz</span></p>
    <p><span>La Montaña hacemos antojitos y comida tradicional de la región, tenemos un concepto que te encantará, mostramos nuestras raices representando nuestro origen a través de la gastronomía</span></p>
  </div>
</div>

<footer-component></footer-component>

</div>
