.quienes-somos-contenedor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 400px;
}

.quienes-somos-contenedor .logo{
  width: 20%;
}

.quienes-somos-info{
  width: 45%;
}

.quienes-somos-titulos{
  font-size: 1.5rem;
  padding: 15px 0;
}

@media all and (max-width: 575px){
  .quienes-base{
    margin-top: 45%;
  }
  .quienes-somos-contenedor .logo{
    width: 40%;
  }
  .quienes-somos-info{
    text-align: justify;
  }
}
