<div class="body-home" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <img class="body-img" src="assets/img/img-2.jpg" alt="logo">
  <div class="body-text">
    <h2 class="cte-titulos">CUENTANOS TU EXPERIENCIA</h2>
    <div class="body-text2">
      <form>
        <div class="form-group">
          <label for="exampleInputName">Nombre Completo</label>
          <input type="name" class="form-control" id="exampleInputName" aria-describedby="name">
        </div>

        <div class="form-group">
          <label for="exampleInputCity">Ciudad</label>
          <input type="city" class="form-control" id="exampleInputCity" aria-describedby="city">
        </div>

        <div class="form-group">
          <label for="exampleInputCountry">País</label>
          <input type="country" class="form-control" id="exampleInputCountry" aria-describedby="country">
        </div>

        <div class="form-group">
          <label for="exampleTextarea">Comentario</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
      </form>

      <div class="botones-cte">
        <button class="btn btn-primary" type="button">Enviar Comentario</button>
      </div>
    </div>
  </div>
</div>
<footer-component></footer-component>
