.ubicacion-contenedor{
  padding: 20px;
  margin: auto;
  text-align: center;
}

.ubicacion-titulo{
  text-align: center;
  letter-spacing: 1.8rem;
  padding: 30px 0;
  font-size: 2rem;
}

.ubicacion-subtitulo{
  text-align: center;
  padding: 30px 0;
  font-size: 1.4rem;
}

.ubicacion-link{
  text-decoration: none;
  color: #07AB4C;
}

.ubicacion-link:hover{
  opacity: .88;
  border-bottom: 3px solid #ffffff;
}

.logo{
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5)
}

.ubicacion-links{
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 800px) {
  .ubicacion-titulo{
    letter-spacing: 1.1rem;
    font-size: 1.6rem;
  }

  .ubicacion-subtitulo{
    font-size: .9rem;
  }
}

@media screen and (max-width: 500px) {
  .ubicacion-titulo{
    letter-spacing: .9rem;
    font-size: 1.2rem;
  }

  .ubicacion-subtitulo{
    font-size: .7rem;
  }
}
