.aviso-privacidad-contenedor{
  width: 90%;
  margin: auto;
  padding-top: 50px;
}
.titulo{
  letter-spacing: 1.6px;
  font-size: 1.4rem;
  margin: 10px 0;
  text-align: center;
}
.titulo-parrafo{
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .titulo{
    letter-spacing: .4rem;
    font-size: 1.5rem;
    text-align: center;
  }
  p{
    font-size: .8rem;
  }
  .titulo-parrafo{
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .titulo{
    letter-spacing: .3rem;
    font-size: 1.2rem;
    text-align: center;
  }
  p{
    font-size: .8rem;
  }

  .titulo-parrafo{
    font-size: .9rem;
  }

}
