<div class="avisos-base">
<div class="aviso-privacidad-contenedor" >
  <p class="subtitulos"><span>TÉRMINOS Y CONDICIONES</span></p>
  <p><span><br></span></p>
  <p class="subtitulos"><span>I. IDENTIDAD Y DOMICILIO DEL RESPONSABLE</span></p>
  <p><span>La Montaña, con domicilio La Montaña La Cuesta Alta 94748 Camerino Z. Mendoza, Veracruz, México, es el Responsable del tratamiento de los datos personales de sus clientes (Titulares), que podrán ser recabados a través de los siguientes medios: (i) de manera directa cuando el Titular ingresa los Datos Personales a través de nuestro sitio web, (ii) de manera directa en nuestro centro de atención telefónica, (iii) de manera indirecta cuando nos transfieren sus Datos Personales, ya sea bajo los supuestos del artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de Particulares y su Reglamento (Ley) o al haber otorgado su consentimiento para ello, y (iv) de manera indirecta cuando se obtiene información a través de las fuentes de acceso público permitidas por la Ley.</span>
  </p>
  <p><span>El presente Aviso de Privacidad Integral, se pone a disposición del Titular previo a la obtención de sus Datos Personales, en estricto apego a los principios de información, licitud, consentimiento, calidad, finalidad, lealtad, proporcionalidad y responsabilidad contemplados en la Ley.</span>
  </p>
  <p class="subtitulos"><span>II. ¿QUÉ DATOS PERSONALES OBTENEMOS?</span></p>
  <p><span>Para cumplir con las finalidades descritas en el presente Aviso de Privacidad Integral, el responsable recabará y tratará sus siguientes datos:</span>
  </p>
  <p><span>Nombre Completo</span></p>
  <p><span>Teléfono particular</span></p>
  <p><span>Correo electrónico</span></p>
  <p><span>La Montaña no recabará, ni tratará datos personales sensibles. En caso de que nos contacte por redes sociales, podremos recabar los datos de su perfil público de redes sociales para darle atención a sus peticiones y/o solicitudes de información en relación con los productos que ofrecemos.</span>
  </p>
  <p class="subtitulos"><span>III. ¿PARA QUÉ FINES UTILIZAREMOS LOS DATOS PERSONALES?</span>
  </p>
  <p><span>Los datos personales que recabamos serán utilizados por el responsable para las siguientes finalidades primarias que son necesarias para prestarle el servicio que solicita al responsable en territorio nacional:</span>
  </p>
  <p><span>Atender sus opiniones, quejas y/o sugerencias</span></p>
  <p><span>Atender y resolver sus dudas relacionadas con la adquisición de nuestros productos y/o servicios</span></p>
  <p><span>Realizar consultas, investigaciones y revisiones en relación con quejas o reclamaciones</span></p>
  <p><span>Dar cumplimiento a los requerimientos de autoridades competentes en los casos legalmente previstos</span></p>
  <p><span>Evaluar la calidad de nuestros servicios</span></p>
  <p><span>Contactarlo con fines exclusivamente relacionados con los productos adquiridos</span></p>
  <p><span>De manera adicional, utilizaremos su información personal para las siguientes finalidades secundarias que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención: Finalidades Secundarias:</span></p>
  <p><span>Enviar comunicados relacionados con ofertas, mensajes promocionales, comunicados con fines mercadotécnicos, publicitarios y de prospección comercial sobre productos o servicios nuevos o existentes</span></p>
  <p><span>Aplicar encuestas, estudios de mercado, participar en eventos, concursos, trivias, juegos y sorteos, participar en redes sociales, chats e información que nos permita evaluar la calidad de los productos y servicios</span></p>
  <p><span>En caso de que no desee que sus datos personales sean tratados para finalidades secundarias, puede enviar un correo electrónico a empresaurios@gmail.com.mx. manifestando lo anterior y especificando que dicha negativa es para La Montaña, daremos respuesta a su solicitud en un plazo máximo de 20 días hábiles.</span></p>
  <p><span>La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que dejemos de prestarle el servicio o venderle los productos que nos solicite.</span></p>
  <p class="subtitulos"><span>IV. ¿CÓMO LIMITAR EL USO O DIVULGACIÓN DE SUS DATOS PERSONALES?</span></p>
  <p><span>Si desea limitar el uso o divulgación de los datos personales que nos ha otorgado con fines de publicidad y/o mercadotecnia, envíenos un correo a la dirección privacidad info empresaurios@gmail.com.mx , o puede darse de baja automáticamente desde los correos que le enviaremos, haciendo clic en la parte “Remover suscripción” o “Unsuscribe”.</span></p>
  <p><span>Nos comprometemos a incluir su información en un Listado de Exclusión para suspender toda actividad relacionada con el envío de publicidad y/o mercadotecnia.</span></p>
  <p class="subtitulos"><span>V. EL USO DE TECNOLOGÍAS DE RASTREO EN NUESTRO PORTAL DE INTERNET Y APLICACIÓN MÓVIL</span></p>
  <p><span>Le informamos que en nuestra página de Internet es posible monitorear su comportamiento como usuario de Internet, para brindarle un mejor servicio y experiencia al navegar en nuestra página, así como para ofrecerle nuevos productos y servicios basados en sus preferencias.</span></p>
  <p><span>Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes: (i) Navegador utilizado, (ii) nombre del servidor, (iii) dirección IP, (iv) fecha, horario y tiempo de navegación en internet y en nuestro sitio web o aplicación móvil, (v) secciones consultadas, y (vi) páginas de Internet accedidas previo a nuestro sitio web.</span></p>
  <p><span>Estas tecnologías podrán deshabilitarse siguiendo los siguientes pasos: 1. Acceder a nuestra página de Internet, 2. Dar clic en la subsección “Cookies” de su navegador; 3. Dar clic en la leyenda de activar el mecanismo de deshabilitación de cookies.</span></p>
  <p class="subtitulos"><span>VI. ACTUALIZACIÓN DEL AVISO DE PRIVACIDAD</span></p>
  <p><span>El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de: (i) nuevos requerimientos legales; (ii) nuestras propias necesidades por los productos o servicios que ofrecemos; (iii) nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.</span></p>
  <p><span>Le notificaremos cualquier cambio a nuestro Aviso de Privacidad a través de nuestra página de internet www.lamontlacuesta.com.mx, por lo cual le pedimos revise la misma de manera periódica.</span></p>
  <p class="subtitulos"><span>XI. ACEPTACIÓN DE AVISO DE PRIVACIDAD</span></p>
  <p><span>En caso de utilizar nuestros servicios o adquirir nuestros productos, se entenderá que autoriza el uso de sus datos personales de conformidad con lo establecido en el presente Aviso de Privacidad.</span></p>
</div>
<footer-component></footer-component>
</div>
