.aviso-privacidad-contenedor{
  width: 90%;
  margin: auto;
  padding-top: 50px;
}

.aviso-privacidad-contenedor .subtitulos{
  font-weight: bold;
  font-size: 1rem;
}

@media all and (max-width: 575px){
  .avisos-base{
    margin-top: 45%;
  }
  .aviso-privacidad-contenedor{
    text-align: justify;
  }
}
