<div class="login-base">
<div class="card card-container">
  <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
  <img id="profile-img" class="profile-img-card" src="assets/img/img-2.jpg" />
  <p id="profile-name" class="profile-name-card"></p>
  <form class="form-signin">
    <input type="email" #usuario class="form-control" placeholder="Correo" required autofocus>
    <input type="password" #contrasenia class="form-control" placeholder="Contraseña" required>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Recordarme
      </label>
    </div>
    <button class="btn btn-primary btn-signin" type="submit"  (click)="iniciarSesion(usuario.value,contrasenia.value)">Iniciar Sesión</button>
  </form><!-- /form -->
</div><!-- /card-container -->
<footer-component></footer-component>
</div>
