.galeria-contenedor{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}

.galeria-titulo{
  text-align: center;
  letter-spacing: 1.8rem;
  padding: 30px 0;
  font-size: 2rem;
}


.galeria-contenedor .galeria-item{
  width: 25%;
  height: auto;
  padding: 15px;
  text-align: center;
  line-height: normal;
}

.galeria-contenedor .galeria-item:hover{
  cursor: pointer;
  opacity: .50;
  box-shadow: .5px .5px .5px .5px rgba(0, 0, 0, 0.15);
}


@media screen and (max-width: 800px) {
  .galeria-titulo{
    letter-spacing: 1.4rem;
    font-size: 1.6rem;
  }

  .galeria-item{
    text-align: center;
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .galeria-titulo{
    letter-spacing: 1.2rem;
    font-size: 1.4rem;
  }

  .galeria-item{
    text-align: center;
    width: 30%;
  }
}



