<div class="menu-cards">
  <div>
    <img src="assets/img/img-35.jpg" alt="News 2">
    <h3>Ventas Totales</h3>
    <p>$ {{totalVendido}} pesos</p>
  </div>
  <div>
    <img src="assets/img/img-36.png" alt="News 3">
    <h3>Fecha Actual</h3>
    <p>Hoy es {{date.toLocaleDateString()}}</p>
  </div>
  <div>
    <img src="assets/img/img-37.jpg" alt="News 1">
    <h3>Inventario</h3>
    <p>Gestión y consulta de invetario desde aqui</p>
    <a routerLink="/inventario">Conocer más<i class="fas fa-angle-double-right "></i></a>
  </div>
</div>

<div class="formulario-ventas">
  <div class="row d-flex justify-content-center">
    <div class="text-center">
      <h3>Realizar venta</h3>
      <p class="blue-text">Por favor completa todos los campos siguientes</p>
      <div class="card">
        <form class="form-card">
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3">ID Mesa<span
              class="text-danger"> *</span></label> <select class="form-control d-flex" #idmesa type="number" name="idMesa" [(ngModel)]="idMesa" placeholder="Ingresa el ID de la mesa donde se guardará la venta" >
              <option selected="selected">Seleccione la mesa</option>
              <option>{{1}}</option>
              <option>{{2}}</option>
              <option>{{3}}</option>
              <option>{{4}}</option>
              <option>{{5}}</option>
              <option>{{6}}</option>
            </select>
            </div>
            <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3">ID del
              producto<span class="text-danger"> *</span></label> <input #idproducto [disabled]="true"  type="number" name="idProducto" [value]="mesa.producto.data.IdProducto" [(ngModel)]="idProducto" placeholder="Ingresa el ID del producto" >
            </div>
            <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3">Nombre del
              producto<span class="text-danger"> *</span></label><select  class="form-control d-flex" #nombreproducto [value]="mesa.producto.data.Nombre"  [(ngModel)]="NombreProducto" name="NombreProducto" (click)="producto()">
              <option selected="selected">Seleccione el producto</option>
              <option *ngFor="let item of productos ; let i = index">{{item.data.Nombre}}</option>
            </select>
            </div>
          </div>
          <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3">Tipo de
            producto<span class="text-danger"> *</span></label> <input #tipoproducto [value]="mesa.producto.data.Tipo" [disabled]="true"  type="text" placeholder="tipo">
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3">Cantidad
              <span class="text-danger"> *</span></label> <input #CantPiezas type="number" name="piezas" placeholder="Ingresa la cantidad de piezas a vender">
            </div>
            <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3">Precio<span
              class="text-danger"> *</span></label> <input #precioProducto type="number" [disabled]="true" [value]="mesa.producto.data.Precio" placeholder="Ingresa el precio del producto"></div>
          </div>
          <div class="row justify-content-end">
            <div class="form-group col-sm-4">
              <button type="submit" (click)="agregarProducto(
                                idmesa.value,
                                mesa.producto.id,
                                idproducto.value,
                                nombreproducto.value,
                                tipoproducto.value,
                                precioProducto.value,
                                CantPiezas.value)" class="btn-block btn-primary">Realizar venta</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center text-center">
  <div class="col-lg-10">
    <div class="card">
      <form >
        <div class="card-body">
          <h4 class="card-title">Historial de productos de la mesa</h4>
          <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3">ID Mesa<span
            class="text-danger"> *</span></label> <select #IDmesa class="form-control d-flex" type="number" name="idMesa" [(ngModel)]="idMesa" (click)="historialMesa()" placeholder="Ingresa el ID de la mesa donde se guardará la venta" >
            <option selected="selected">Ingresa el ID de la mesa para consultar las productos de la mesa</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
          </select></div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Producto</th>
                <th> Precio</th>
                <th> Piezas </th>
                <th> Total</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of productosVenta ; let i = index;">
                <td>{{item.data.producto.data.Nombre}}</td>
                <td> {{item.data.producto.data.Precio}} </td>
                <td> {{item.data.producto.data.Piezas}}</td>
                <td> ${{item.data.producto.subTotal}}</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="form-group col-sm-4">
            <button type="submit" (click)="realizarVenta(IDmesa.value)" class="btn-block btn-primary">Realizar venta</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center text-center">
  <div class="col-lg-10">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Historial de Ventas </h4>
        <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3">ID Mesa<span
          class="text-danger"> *</span></label><select class="form-control d-flex" type="number" name="idMesa" [(ngModel)]="idMesa" (click)="mostrarVentas()" placeholder="Ingresa el ID de la mesa donde se guardará la venta" >
          <option selected="selected">Ingresa el ID de la mesa para consultar las productos de la mesa</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
        </div>
        <div class="contenedor-botones-group">
          <div class="form-group contenedor-boton">

          </div>
          <div class="form-group contenedor-boton">
            <button type="submit" class="btn-block btn-primary">Calcular total vendido</button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th> Mesa</th>
              <th> Numero de Mesa</th>
              <th> Numero de productos vendidos</th>
              <th> Descripción de Articulos</th>
              <th> Total de la venta</th>
              <th> Fecha</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of ventas ; let i = index;">
              <td class="py-1"><img src="https://img.icons8.com/office/30/000000/table.png"/></td>
              <td> {{item.data.idMesa}}</td>
              <td> {{item.data.listaPrductos.length}}</td>
              <td>
                <select class="form-control d-flex" type="number">
                  <option *ngFor="let products of item.data.listaPrductos ; let i = index;">{{products.data.producto.data.Piezas}} {{products.data.producto.data.Nombre}}</option>
                </select>
              </td>
              <td>{{item.data.totalVenta}}</td>
              <td> {{item.data.fecha}}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

