<div class="menu-cards">
  <div class="contenido-cards">
    <img src="assets/img/img-35.jpg" class="img-cards">
    <h3 class="subtitulo-3">Ventas Totales</h3>
    <p class="parrafo">$ {{totalVendido}} pesos</p>
  </div>
  <div class="contenido-cards">
    <img src="assets/img/img-36.png" class="img-cards">
    <h3 class="subtitulo-3">Fecha Actual</h3>
    <p class="parrafo">Hoy es {{date.toLocaleDateString()}}</p>
  </div>
  <div class="contenido-cards">
    <img src="assets/img/img-39.jpg" class="img-cards">
    <h3 class="subtitulo-3">Ventas</h3>
    <p class="parrafo">Realiza y consulta ventas desde aqui</p>
    <a routerLink="/ventas">Conocer más<i class="fas fa-angle-double-right "></i></a>
  </div>
  <div class="contenido-cards">
    <img src="assets/img/img-41.jpg" class="img-cards">
    <h3 class="subtitulo-3">Comentarios</h3>
    <p class="parrafo">Consulta los comentarios desde aqui</p>
    <a routerLink="/comentarios">Conocer más<i class="fas fa-angle-double-right "></i></a>
  </div>
</div>

<div class="col-12 inventario-op">
  <h3 class="subtitulo-3">Productos</h3>
  <div class="botones-contenedor">
    <a class="btn btn-success mb-2 btn-guardar" (click)="Guardar()">Agregar</a>
  </div>
  <div class="tabla-productos">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Piezas</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of productos ; let i = index;">
        <td>{{item.data.IdProducto}}</td>
        <td>{{item.data.Nombre}}</td>
        <td>{{item.data.Tipo}}</td>
        <td>{{item.data.Precio}}</td>
        <td>{{item.data.Piezas}}</td>
        <td>
          <a class="btn btn-warning productos-btn"  (click)="editar(i,item.id)">Editar <i class="fa fa-edit"></i></a>
        </td>
        <td>
          <form>
            <input type="hidden" name="id"/>
            <button type="submit" class="btn btn-danger productos-btn" (click)="eliminar(item.id)" >Eliminar <i class="fa fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
