.comentarios-contenedor{
  padding: 20px 0;
}
/* menu Cards*/
.menu-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: auto;
  width: 90%;
  padding: 30px 0;
  text-align: center;
}

.img-cards {
  width: 70%;
  height: auto;
  border-radius: 9px;
}

.subtitulo-3 {
  font-size: 1rem;
  margin: 10px 0;
}

.parrafo{
  font-size: .8rem;
}

.menu-cards a{
  padding: 10px 0;
  color: #3E48C2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  font-size: .7rem;
}
.menu-cards a:hover{
  opacity: .7;
  text-decoration: underline;
}

.titulo{
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 20px;
}

/*tabla comentarios*/
.tabla-comentarios th,td{
  padding: .2rem .1rem;
  text-align: center;
}

.inventario-op{
  width: 95%;
  margin: auto;
}

.btn-consultar{
  margin: 10px 0px;
}

@media screen and (max-width: 800px) {
  .menu-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: auto;
    width: 90%;
    padding: 30px 0;
  }

  .img-cards {
    width: 70%;
    height: auto;
  }

  .subtitulo-3 {
    font-size: 1rem;
    margin: 10px 0;
  }

  .parrafo{
    font-size: .9rem;
  }

  .menu-cards a{
    font-size: .9rem;
  }

  .inventario-op{
    width: 100%;
    margin: auto;
  }

  .btn-consultar{
    margin: 10px 0px;
    font-size: .8rem;
    width: 14%;
  }

  .tabla-comentarios th,td{
    font-size: .7rem;
  }
}

@media screen and (max-width: 500px) {
  .menu-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: auto;
    width: 90%;
    padding: 30px 0;
  }

  .img-cards {
    width: 45%;
    height: auto;
  }

  .subtitulo-3 {
    font-size: .9rem;
    margin: 10px 0;
  }

  .parrafo{
    font-size: .8rem;
  }

  .menu-cards a{
    font-size: .8rem;
  }

  .inventario-op{
    width: 100%;
    margin: auto;
  }

  .btn-consultar{
    margin: 10px 0;
    font-size: .6rem;
    width: 14%;
  }

  .tabla-comentarios th,td{
    font-size: .4rem;
  }
}
